<mat-toolbar>
    <span>Primas Employee Emergency Contact Information</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <div>
    <mat-card-content  class="matcnt">
      <form class="my-form">

        <mat-form-field class="full-width"  appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            name="name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Relationship</mat-label>
          <mat-select>
            <mat-option value="Brother">Brother</mat-option>
            <mat-option value="Father">Father</mat-option>
            <mat-option value="Mother">Mother</mat-option>
            <mat-option value="Wife">Wife</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="full-width"  appearance="outline">
          <mat-label>Building Number</mat-label>
          <input
            matInput
            placeholder="Building Number"
            name="eBuildingNumber"
            required
          />
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Street Name</mat-label>
          <input matInput placeholder="Street Name" name="eStreetName" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select>
            <mat-option value="India">India</mat-option>
          </mat-select>
        </mat-form-field>

        
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option value="Kerala">Kerala</mat-option>
            <mat-option value="Tamilnadu">Tamilnadu</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select>
            <mat-option value="Chennai">Chennai</mat-option>
            <mat-option value="Thiruchirappalli">Thiruchirappalli</mat-option>
          </mat-select>
        </mat-form-field>

        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Pin Code</mat-label>
          <input matInput placeholder="Pin Code" name="ePinCode" required />
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            placeholder="Mobile Number"
            name="mobileNumber"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="Email Id" name="emailId" required />
        </mat-form-field>
  
  
        <mat-card-actions  class="registrationTable">
          <button mat-raised-button (click)="professionalInformation()" color="primary">
            Professional Information
          </button>
        </mat-card-actions>
  
      </form>
    </mat-card-content>
    </div>
  </mat-card>
  