<mat-toolbar>
    <span>Primas Employee Salary Information</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <div>
    <mat-card-content  class="matcnt">
      <form class="my-form">
  
        <mat-form-field appearance="outline">
          <mat-label>Bank Country</mat-label>
          <mat-select>
            <mat-option value="India">India</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Account Currency</mat-label>
          <mat-select>
            <mat-option value="Indian Rupees">Indian Rupees</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bank Name</mat-label>
          <mat-select>
            <mat-option value="HDFC">HDFC</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Branch Name</mat-label>
          <mat-select>
            <mat-option value="Thiruchirappalli">Thiruchirappalli</mat-option>
          </mat-select>
        </mat-form-field>

        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>IFSC Code</mat-label>
          <input matInput placeholder="IFSC Code" name="ifscCode" required />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Account Number" name="accountNumber" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Pay Mode</mat-label>
            <input matInput placeholder="Pay Mode" name="payMode" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Basic Salary</mat-label>
            <input matInput placeholder="Basic Salary" name="basicSalary" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>HRA</mat-label>
            <input matInput placeholder="HRA" name="hra" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>MVP</mat-label>
            <input matInput placeholder="MVP" name="mvp" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Special Allownace</mat-label>
            <input matInput placeholder="Special Allowance" name="specialAllowance" required />
          </mat-form-field>
  
           
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Trans Allowance</mat-label>
            <input matInput placeholder="Trans Allowance" name="transAllowance" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Salary Advance Eligible</mat-label>
            <input matInput placeholder="Salary Advance/Loan" name="salaryAdvanceLoan" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Net Salary</mat-label>
            <input matInput placeholder="Net Salary" name="netSalary" required />
          </mat-form-field>
  
    
        <!-- <mat-card-actions  class="registrationTable">
          <button mat-raised-button (click)="professionalInformation()" color="primary">
            Professional Information
          </button>
        </mat-card-actions> -->
  
      </form>
    </mat-card-content>
    </div>
  </mat-card>
  