<mat-toolbar>
    <span>Primas Employee Salary Information</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <div>
    <mat-card-content  class="matcnt">
      <form class="my-form">
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Employee Id</mat-label>
          <input matInput placeholder="Employee Id" name="employeeId" required />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Employee Name</mat-label>
          <input matInput placeholder="Employee Name" name="employeeId" required />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Location" name="location" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Pay Mode</mat-label>
            <input matInput placeholder="Pay Mode" name="payMode" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Currency</mat-label>
            <input matInput placeholder="Currency" name="currency" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Basic Salary</mat-label>
            <input matInput placeholder="Basic Salary" name="basicSalary" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>HRA</mat-label>
            <input matInput placeholder="HRA" name="hra" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>MVP</mat-label>
            <input matInput placeholder="MVP" name="mvp" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Special Allownace</mat-label>
            <input matInput placeholder="Special Allowance" name="specialAllowance" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Arrears/Other Earnings</mat-label>
            <input matInput placeholder="Arrear/Other Earnings" name="arrearsOtherEarnings" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Trans Allowance</mat-label>
            <input matInput placeholder="Trans Allowance" name="transAllowance" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Salary Advance/Loan</mat-label>
            <input matInput placeholder="Salary Advance/Loan" name="salaryAdvanceLoan" required />
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Travel Advance</mat-label>
            <input matInput placeholder="Travel Advance" name="travelAdvance" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Gross Deductions</mat-label>
            <input matInput placeholder="Gross Deductions" name="grossDeductions" required />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Net Salary</mat-label>
            <input matInput placeholder="Net Salary" name="netSalary" required />
          </mat-form-field>
  
    
        <!-- <mat-card-actions  class="registrationTable">
          <button mat-raised-button (click)="professionalInformation()" color="primary">
            Professional Information
          </button>
        </mat-card-actions> -->
  
      </form>
    </mat-card-content>
    </div>
  </mat-card>
  