<mat-toolbar>
    <span>Primas Investors Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
 
             <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Investor Name</mat-label>
                 <input  matInput  placeholder="Investor Name"  name="investorName"  required>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select>
                  <mat-option value="India">India</mat-option>
                </mat-select>
              </mat-form-field>
      
              
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select>
                  <mat-option value="Kerala">Kerala</mat-option>
                  <mat-option value="Tamilnadu">Tamilnadu</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select>
                  <mat-option value="Chennai">Chennai</mat-option>
                  <mat-option value="Thiruchirappalli">Thiruchirappalli</mat-option>
                </mat-select>
              </mat-form-field>

         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Building Number</mat-label>
            <input matInput placeholder="Building Number" name="buildingNumber" required />
          </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street Name</mat-label>
        <input matInput placeholder="Street Name" name="streetName" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Pin Code" name="pinCode" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" name="mobileNumber" required />
      </mat-form-field>

      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Landline Number</mat-label>
        <input matInput placeholder="Landline Number" name="landLineNumber" required />
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email Id" name="emailId" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Current No. of Shares</mat-label>
        <input matInput placeholder="Current No. of Shares" name="currentNoOfShares" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Current No. of Shares</mat-label>
        <input matInput placeholder="Current No. of Shares" name="currentNoOfShares" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Total Amount Invested</mat-label>
        <input matInput placeholder="Total Amount Invested" name="totalAmountInvested" required />
      </mat-form-field>

              <mat-card-actions  class="clientsTable">
                <button mat-raised-button (click)="investorsRegistration()" color="primary">
                  Investor Registration
                </button>
              </mat-card-actions>
          </form>
       </mat-card-content>
    </mat-card>
 