<mat-toolbar>
  <span>Primas Employee Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <div>
  <mat-card-content  class="matcnt">
    <form class="my-form">

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Employee Id</mat-label>
        <input matInput placeholder="Employee Id" name="employeeId" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" name="firstName" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" name="lastName" required />
      </mat-form-field>

      <mat-radio-group aria-label="Sex">
        <mat-label>Gender : </mat-label>
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="2">Others</mat-radio-button>
      </mat-radio-group>

      <mat-form-field  appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Select Date of Birth" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Aadhar Number</mat-label>
        <input
          matInput
          placeholder="Aadhar Number"
          name="aadharNumber"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          placeholder="Mobile Number"
          name="mobileNumber"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email Id" name="emailId" required />
      </mat-form-field>
      <!--<mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput  placeholder="Password"  name="password">
               </mat-form-field>-->

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Blood Group</mat-label>
        <input matInput placeholder="Blood Group" name="bloodGroup" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Passport Number</mat-label>
        <input
          matInput
          placeholder="Passport Number"
          name="passportNumber"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Passport Expiry Date</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Select Passport Date" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nationality</mat-label>
        <input matInput placeholder="Nationality" name="nationality" required />
      </mat-form-field>

      <mat-radio-group aria-label="MaritalStatus">
        <mat-label>Marital Status : </mat-label>
        <mat-radio-button value="1">Single</mat-radio-button>
        <mat-radio-button value="2">Married</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Disability Description</mat-label>
        <input
          matInput
          placeholder="Disability Description"
          name="disabilityDesciption"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Qualificaation</mat-label>
        <input
          matInput
          placeholder="Qualification"
          name="qualification"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Driving Licence</mat-label>
        <input
          matInput
          placeholder="Driving Licence"
          name="drivingLicence"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Driving Licence Remarks</mat-label>
        <input
          matInput
          placeholder="Driving Licence Remarks"
          name="drivingLicenceRemarks"
          required
        />
      </mat-form-field>
      

      <!-- <mat-card-actions  class="registrationTable">
        <button mat-raised-button (click)="register()" color="primary">
          Register
        </button>
      </mat-card-actions> -->
      <mat-card-actions  class="registrationTable">
        <button mat-raised-button (click)="contactInformation()" color="primary">
          Contact Information
        </button>
      </mat-card-actions>

    </form>
  </mat-card-content>
  </div>
</mat-card>
