<mat-toolbar>
    <span>Primas Client Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <div>
    <mat-card-content class="matcnt">
      <form class="my-form">
 
             <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Client Name</mat-label>
                 <input  matInput  placeholder="Client Name"  name="clientName"  required>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Bank Country</mat-label>
                <mat-select>
                  <mat-option value="India">India</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Account Currency</mat-label>
                <mat-select>
                  <mat-option value="Indian Rupees">Indian Rupees</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Bank Name</mat-label>
                <mat-select>
                  <mat-option value="HDFC">HDFC</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Branch Name</mat-label>
                <mat-select>
                  <mat-option value="Thiruchirappalli">Thiruchirappalli</mat-option>
                </mat-select>
              </mat-form-field>
      
              
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>IFSC Code</mat-label>
                <input matInput placeholder="IFSC Code" name="ifscCode" required />
              </mat-form-field>
      
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Account Number</mat-label>
                  <input matInput placeholder="Account Number" name="accountNumber" required />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>GST Number</mat-label>
                <input matInput placeholder="GST Number" name="gstNumber" required />
              </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>Country</mat-label>
                  <mat-select>
                    <mat-option value="India">India</mat-option>
                  </mat-select>
                </mat-form-field>
        
                
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select>
                    <mat-option value="Kerala">Kerala</mat-option>
                    <mat-option value="Tamilnadu">Tamilnadu</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <mat-select>
                    <mat-option value="Chennai">Chennai</mat-option>
                    <mat-option value="Thiruchirappalli">Thiruchirappalli</mat-option>
                  </mat-select>
                </mat-form-field>
                
 
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Building Number</mat-label>
            <input matInput placeholder="Building Number" name="buildingNumber" required />
          </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street Name</mat-label>
        <input matInput placeholder="Street Name" name="streetName" required />
      </mat-form-field>


      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Pin Code" name="pinCode" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" name="mobileNumber" required />
      </mat-form-field>

      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Landline Number</mat-label>
        <input matInput placeholder="Landline Number" name="landLineNumber" required />
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email Id" name="emailId" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Client SPOC Name</mat-label>
        <input matInput placeholder="Client SPOC Name" name="clientSpocName" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Client SPOC Mobile Number</mat-label>
        <input matInput placeholder="Client SPOC Mobile Number" name="clientSpocMobileNumber" required />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Client SPOC Email Id</mat-label>
        <input matInput placeholder="Client SPOC Email Id" name="clientSpocEmailId" required />
      </mat-form-field>

              <mat-card-actions class="clientsTable">
                <button mat-raised-button (click)="clientsRegistration()" color="primary">
                  Client Registration
                </button>
              </mat-card-actions>
          </form>
       </mat-card-content>
       </div>
    </mat-card>
 