.country-form{
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    margin: 20px;
  }
   
  .full-width {
    width: 100%;
  }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
} 

mat-toolbar > span{
 margin-left: 20px;
}

mat-drawer {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    visibility: visible;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}