<mat-toolbar>
    <span>Primas Professional Information</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <div>
    <mat-card-content  class="matcnt">
      <form class="my-form">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Qualification</mat-label>
          <input
            matInput
            placeholder="Qualification"
            name="qualification"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Years of Experience</mat-label>
          <input
            matInput
            placeholder="Years of Experience"
            name="yearsOfExperience"
            required
          />
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Experience in Months</mat-label>
          <input
            matInput
            placeholder="experienceInMonths"
            name="experienceInMonths"
            required
          />
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Previous Employer</mat-label>
          <input
            matInput
            placeholder="Previous Employer"
            name="previousEmployer"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last Drawn Salary</mat-label>
          <input
            matInput
            placeholder="Last Drawn Salary"
            name="lastDrawnSalary"
            required
          />
        </mat-form-field>

        <!--Login Information-->
        <!-- <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="userName" name="eCountry" required />
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="password"
            name="password"
            type="password"
            required
          />
        </mat-form-field> -->
  
        <!-- <mat-card-actions  class="registrationTable">
          <button mat-raised-button (click)="register()" color="primary">
            Register
          </button>
        </mat-card-actions> -->
        <mat-card-actions  class="registrationTable">
          <button mat-raised-button (click)="salaryInformation()" color="primary">
            Salary Information
          </button>
        </mat-card-actions>
  
      </form>
    </mat-card-content>
    </div>
  </mat-card>
  