<mat-toolbar>
    <span>Primas Designation Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
             <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Designation Name</mat-label>
                 <input  matInput  placeholder="Designation Name"  name="designationName"  required>
              </mat-form-field>
 
              <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Designation Head</mat-label>
                 <input  matInput  placeholder="Designation Head"  name="designationHead" required>
              </mat-form-field>
 
              <mat-card-actions class="designationTable">
                <button mat-raised-button (click)="designationRegistration()" color="primary">
                  Designation Registration
                </button>
              </mat-card-actions>
          </form>
       </mat-card-content>
    </mat-card>
 