<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <!-- <span><a mat-button style="color: azure;" href="/">Home</a></span> -->
     <span class="spacer"></span>
     
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
     <a mat-button routerLink="/department">Department</a>
     <a mat-button routerLink="/designation">Designation</a>
     <a mat-button routerLink="/clients">Clients</a>
     <a mat-button routerLink="/investors">Investors</a>
     <a mat-button routerLink="/purchaseOrder">Purchase Order</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
