.my-form{
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;
} 
   
  .full-width {
    width: 100%;
  }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
} 
 

form > mat-form-field {
    width: 200px;
    border-radius: 1em;
    margin: 2px 10px 10px 10px;
}

.matcnt {
    width: 65%;
}

.purchaseOrderTable{
  width: 100%;
  text-align: center;
  
}

.addPurchseOrderItem{
text-align: center;
width: 100%;
}