<mat-toolbar>
    <span>Primas Attendance Self Service</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">

            <mat-form-field class="full-width">
                 <mat-label>Employee Id</mat-label>
                 <input  matInput  placeholder="Employee Id"  name="employeeId"  required>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Employee Name</mat-label>
                <input  matInput  placeholder="Employee Name"  name="employeeId"  required>
             </mat-form-field>
 
              <mat-form-field>
                <mat-label>Date & Time</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Current Date & Time" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        
              <mat-card-actions>
                <button mat-raised-button (click)="attendanceCheckIn()" color="primary">
                  Checkin
                </button>
                <button mat-raised-button (click)="attendanceCheckOut()" color="primary">
                    Checkout
                  </button>
              </mat-card-actions>
          </form>
       </mat-card-content>
    </mat-card>
 